{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="card-group">
    <div class="card bg-dark text-white border-secondary" style="max-width: 20rem;">
      <div class="card-header font-weight-bold border-secondary">
        <h2>Luzes<span style="color: grey; padding-left: 20px;"><i class="fas fa-lightbulb" style="float: right;"></i></h2>
      </div>
      <div class="card-body">
        <p style="font-size: 20px;">Luz 1 <a href="#" class="badge badge-success" style="float: right; width: 60px;">On</a></p>
        <hr style="border-top: 1px solid grey;">
        <p style="font-size: 20px;">Luz 1 <a href="#" class="badge badge-danger" style="float: right; width: 60px;">Off</a></p>
        <hr style="border-top: 1px solid grey;">
        <p style="font-size: 20px;">Luz 1 <a href="#" class="badge badge-danger" style="float: right; width: 60px;">Off</a></p>
      </div>
    </div> 

    <div class="card bg-dark text-white border-secondary" style="max-width: 20rem;">
        <div class="card-body">
          <p style="font-size: 20px;">Luz 1 <a href="#" class="badge badge-success" style="float: right; width: 60px;">On</a></p>
          <hr style="border-top: 1px solid grey;">
          <p style="font-size: 20px;">Luz 1 <a href="#" class="badge badge-danger" style="float: right; width: 60px;">Off</a></p>
          <hr style="border-top: 1px solid grey;">
          <p style="font-size: 20px;">Luz 1 <a href="#" class="badge badge-danger" style="float: right; width: 60px;">Off</a></p>
          <hr style="border-top: 1px solid grey;">
          <p style="font-size: 20px;">Luz 1 <a href="#" class="badge badge-danger" style="float: right; width: 60px;">Off</a></p>
        </div>
      </div> 
  </div>       
</div>
{% endblock %}